<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Use default Python handler for Azure App Service -->
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    
    <!-- Let Azure App Service handle Python startup automatically -->
    <httpPlatform processPath="%PYTHON_EXE%"
                  arguments="%PYTHON_ARGUMENTS%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
